In [1]:
import pandas as pd

In [9]:
data = { 'Name': ['Rohit','Ravi','Rakesh','Rajat','Bantu','Rohit'],
         'Marks': [87,75,89,90,85,87],
         'City': ['Pune','Bangalore','Mumbai','Kolkata','Delhi','Pune']}
df = pd.DataFrame(data)
print("Original DataFrame")
print(df)

Original DataFrame
     Name  Marks       City
0   Rohit     87       Pune
1    Ravi     75  Bangalore
2  Rakesh     89     Mumbai
3   Rajat     90    Kolkata
4   Bantu     85      Delhi
5   Rohit     87       Pune

# Find Dupicate

In [16]:
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

# Display Only Dupicate Rows

In [18]:
print(df[df.duplicated()])

    Name  Marks  City
5  Rohit     87  Pune

# Remove Dupicates

In [19]:
df_unique = df.drop_duplicates()
print(df_unique)

     Name  Marks       City
0   Rohit     87       Pune
1    Ravi     75  Bangalore
2  Rakesh     89     Mumbai
3   Rajat     90    Kolkata
4   Bantu     85      Delhi

# df.drop_duplicates(keep='last')

In [20]:
#Removes duplicate rows, but keeps the last occurrence instead of the first.

df_unique_last = df.drop_duplicates(keep='last')
print(df_unique_last)

     Name  Marks       City
1    Ravi     75  Bangalore
2  Rakesh     89     Mumbai
3   Rajat     90    Kolkata
4   Bantu     85      Delhi
5   Rohit     87       Pune

# df.duplicated(subset=['Name', 'City'])

In [22]:
#Check for duplicates only based on specific columns (Name and City), ignoring Marks.
print(df.duplicated(subset=['Name', 'City']))

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool